####### This app has the following dependencies #######
#
# Splunk Add-on for Apache Web Server (sourcetypes)
# https://docs.splunk.com/Documentation/AddOns/released/ApacheWebServer/Sourcetypes
# For sourcetypes: apache:access, apache:error
#
# Splunk Add-on for Tomcat (sourcetypes)
# https://docs.splunk.com/Documentation/AddOns/released/Tomcat/Sourcetypes
# For sourcetypes: tomcat:access:log, tomcat:runtime:log
#
#######################################################